/* base.css */

/* global variables, body, headings, code blocks */

/* Global variables */
:root {
  --grid-color: 0 0% 20%;
  --grid-size: 50px;
  --background: #000000;
  --foreground: #ffffff;
  --color-primary: #21d789;
  --color-primary-dark: #1bc77b;
  --color-accent: #4caf50;
  --color-danger: #e53935;
  --color-warning: #ffa726;
  --color-easy: #7dc143;
  --color-medium: #ffa726;
  --color-hard: #e53935;
  --color-bg-alt: #e0e0e0;
  --color-text: #000;
  --color-text-secondary: #333;
  --color-text-light: #fff;
  --color-text-muted: #999;
  --color-border: #ccc;
  --color-label: #cdcdcd;
  --color-dropdown-bg: #0b0b0b;
  --color-dropdown-toggle: #121212;
  --color-dropdown-inactive: #9aa0a6;
  --color-dropdown-active: #2d6a4f;
  --color-dropdown-item: #ddd;
  --color-dropdown-item-hover: #21d789;
  --color-dropdown-border: #2c313a;
}

/* Body */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
}

/* Headings */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #cdcdcdff;
}

/* Code blocks */
code,
pre,
.code-block {
  font-family: 'JetBrains Mono', monospace;
}
